#searchbox {
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #afc3ca #83afb7;
    width: 359px;
    height: 33px;
    padding: 6px 6px 6px 7px;
    margin-left: 69%;
    overflow: hidden;
    margin-top: 7px;
    font-size: 8pt;
}

#search,
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 20px;
    width: 190px;
    border: 1px solid #a4c3ca;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);;
}

#submitSearch {
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 20px;
    margin-left: 3px;
    padding: 0;
    width: 60px;
    cursor: pointer;
    font-weight: bold;
    color: #23441e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
}

#submitSearch:hover {
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}

#submitSearch:active {
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submitSearch::-moz-focus-inner {
    border: 0; /* Small centerting fix for Firefox */
}

#search::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#search:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#search:-ms-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

.switch {
    display: inline-block;
    font-weight: normal;
    font-size: 7pt;
    width: 82px;
    height: 18px;
    margin-left: 5px;
    padding: 2px;
    border-radius: 70px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.switch input {
    display: none;
    position: absolute
}

#englishlbl {
    border-radius: 70px 0 0 70px;
    /*padding: 0 1px 0 1px;*/
}

#mandoalbl {
    border-radius: 0 70px 70px 0;
    /*padding: 0 1px 0 1px;*/
}


#english:checked + label#englishlbl {
    background-color: #215dbc;
    color: #fff;
}

#mandoa:checked + label#mandoalbl {
    background-color: #215dbc;
    color: #fff;
}