.script {
    font-family: "Mandalorian";
    font-size: 14pt;
}

@font-face {
    font-family: Mandalorian;
    src: url(http://localhost:8080/shared/styles/mandalor.ttf);
    font-weight: normal;
}