.searchbox {
    border-radius: 10px;
    width: 12em;
    height: 1.8em;
    vertical-align: middle;
}

.searchbox_container {
    text-align: right;
    position: absolute;
    margin-left: 80%;
    margin-top: 1%;
}

.navbox {
    position: absolute;
}