<nav-bar></nav-bar>

<div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 30px;">
        <h1 class="text-center">Welcome to Learn Mando'a!</h1><br/>
        <section>
            Want to learn Mando'a? Then this site is for you. What is Mando'a? Mando'a is the language used by the Mandalorians in Star Wars Legends and, as of Rebels Season 3, canon.
            This site is dedicated to displaying information that will aid you in learning the language.
        </section>
    </div>
</div>

<footer-section></footer-section>