p {
    text-align: center;
}

footer {
    margin-top: 6%;
    font-size: 8pt;
}

hr {
    border: 0;
    height: 1px;
    width: 30%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}